@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Chernivtsi National University<br />
    342-sk<br />
</address>

<address>
    <strong>Pyslar Maksym:</strong>   <a href="mailto:aronthomasmiller@gmail.com">aronthomasmiller@gmail.com</a><br />
    <strong>Proskurnyak Yevhen:</strong> <a href="mailto:kindommage763@gmail.com">kindommage763@gmail.com</a>
</address>